/* ============产品图片列表============== */

div.productquery_2{
  margin:0px 20px 5px 0px;
  text-align:center;
  float:left;
  width:45%;
  overflow:hidden;
  }
  
  div.productquery_2_left{
  float:left;
  text-align:left;
  margin-right:15px;
  }
  
  div.productquery_2_right{
  float:left;
  text-align:left;
  }
  
  
  div.productquery_2 div.fang{
  border:0px;
  background: #fff;
  padding:3px;
  text-align:center;
  }
  
  div.productquery_2 div.picFit{
  overflow: hidden;
  }
  
  
  
  div.productquery_2 div.picFit img{
  }
  
  
  div.productquery_2 a.prodtitle:link,div.productquery_2 a.prodtitle:visited,div.productquery_2 a.prodtitle:active{
  display:block;
  color:#393939;
  font:14px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
  text-decoration: none;
  margin-bottom:5px;
  }
  
  div.productquery_2 a.prodtitle:hover{
  display:block;
  color:#ff0000;
  text-decoration: underline;
  font:14px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
  margin-bottom:5px;
  }
  
  div.productquery_2 span.memo{
  font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
  color:#393939;
  word-break:break-all; 
  }
  
  div.productquery_2 span.prop{
  font:12px/20px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
  color:#393939;
  overflow: hidden;
  word-break:break-all; 
  }
  
  
  
  
  /* ============翻页============== */
  
  div#showpages {
  clear:both;
  padding:0px;
  margin:20px 0px;
  width:100%;
  height:30px;
  white-space: nowrap;
  }
  
  div#pagesinfo {
  float:left;
  padding:3px 8px;
  white-space: nowrap;
  }
  
  div#pages {
  float:right;
  padding-right:8px;
  white-space: nowrap;
  }
  
  div#pages ul{
  margin:0;
  padding:0;
  }
  
  div#pages a:link,div#pages a:visited,div#pages a:active{
  color:#fff;
  text-decoration: none;
  }
  
  div#pages a:hover{
  color:#ffffff;
  text-decoration: none;
  }
  
  div#pages li{
  margin:3px;
  padding:2px 5px;
  list-style-type: none;
  float:left;
  background:#cccccc;
  color:#fff;
  border:1px #999 solid;
  white-space: nowrap;
  }
  
  div#pages li.pagesnow{
  color:#fff;
  background-color:#aaaaaa;
  white-space: nowrap;
  }
  
  div#pages li.pbutton{
  color:#fff;
  background-color:#aaaaaa;
  padding:3px 5px 1px 5px;
  white-space: nowrap;
  }
  
  
  div#pages li.opt{
  color:#505050;
  padding:0px 2px;
  white-space: nowrap;
  border:0px;
  }
  