/* ============分类列表============== */

div.productclass_8004{
margin:0px;
padding:0px;
width:100%;
}


a.productclass_8004:link,a.productclass_8004:visited,a.productclass_8004:active{
display:block;
color: #000000; 
text-decoration: none;
font:14px/40px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
height:40px;
text-align:left;
background:url(../images/classmenu8004.gif) 0px 0px no-repeat;
padding-left:95px;
}

a.productclass_8004:hover{
display:block;
color: #ff0000; 
text-decoration: none;
height:40px;
text-align:left;
font:14px/40px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
background:url(../images/classmenu8004.gif) 0px 0px no-repeat;
padding-left:95px;
}